<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<form name="login_form" method="POST" action="/authenticate">

    <label for="username">Введите имя пользователя: </label>
    <input type="text" name="username" id="username"/>
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="password" name="password" id="password"/>
    <br/>
    <input type="submit" value="Войти"/>
    <br>
    <a th:href="@{/registration}">
        <button type="button">Зарегистрироваться</button>
    </a>

</form>
</body>
</html>